<div class="vertical_container">
  <nav>
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
       routerLink="./posts">Posts</a>
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
       routerLink="./subs">Subscriptions</a>
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="isViewingSelf"
       routerLink="./change-info">Change info</a>
  </nav>

  <router-outlet></router-outlet>
</div>
<aside *ngIf="user !== null">
  <div class="info">
    <div class="item">User: {{user.login}}</div>
    <div *ngIf="user.about" class="item">About: {{user.about}}</div>
    <div *ngIf="getUserModel(user)?.dateBirth !== null" class="item">
      Date of birth: {{getUserModel(user)?.dateBirth | date: 'yyyy-MM-dd'}}
    </div>
    <button *ngIf="auth.isLoggedIn && !isViewingSelf && subscribedToCurrent === false" (click)="subscribeToCurrent()"
            class="item">
      Subscribe
    </button>
    <button *ngIf="auth.isLoggedIn && !isViewingSelf && subscribedToCurrent === true" (click)="unsubFromCurrent()"
            class="item">
      Unsubscribe
    </button>
    <button *ngIf="!isViewingSelf && auth.isAdmin" (click)="banUser(banExpirationDate)"
            class="item admin_item">Ban user
    </button>
    <div class="item" *ngIf="!isViewingSelf && auth.isAdmin">
      <label for="expirationDate">Ban for:</label>
      <input id="expirationDate" [(ngModel)]="banExpirationDate" type="date"/>
    </div>
    <button *ngIf="!isViewingSelf && auth.isAdmin" (click)="liftBan()"
            class="item admin_item">Lift ban
    </button>
    <button *ngIf="!isViewingSelf && auth.isAdmin"
            class="item admin_item">Elevate to admin
    </button>
  </div>
</aside>
