<header class="head_container">
  <div class="header_cont">
    <h1>GenericSocialNetwork</h1>
  </div>
  <nav>
    <a routerLink="/" class="bttn">Home</a>
    <a routerLink="/search" class="bttn">Search</a>
    <a *ngIf="loggedIn()" routerLink="/create-post" class="bttn">CreatePost</a>
    <a *ngIf="loggedIn()" routerLink="/u/{{auth.getCurrentUserValue()?.login}}" class="bttn">Profile</a>
    <button *ngIf="loggedIn()" (click)="logout()" class="bttn">Logout</button>
    <a *ngIf="!loggedIn()" routerLink="/login" class="bttn">Login</a>
    <a *ngIf="!loggedIn()" routerLink="/register" class="bttn">Register</a>
  </nav>
  <div *ngIf="loggedIn()" class="logged_in_as">
    Logged in as: {{auth.getCurrentUserValue()?.login}}
  </div>
</header>

<div class="container">
  <main>
    <router-outlet></router-outlet>
  </main>
</div>

<footer class="footer">
  <div class="foot_row">
    Dmytro Sokolenko ma.ba1@rambler.ru
  </div>
  <div class="foot_row">
    <small>&copy; Copyright {{year}}, Sokolenko Dmytro Corporation. All rights reserved.</small>
  </div>
</footer>
