// colors
$blue0: #263032;
$blue1: #203245;
$blue1-5: #2a496a;
$blue2: #2965a1;
$blue2-5: #7e7ff5;
$blue3: #367cc4;
$blue4: #58a8fd;
$text_color: #e8e8e8;
$text_color_red: #fa4343;

$reddish_blue: #9e1d32;

:host {
  display: block;
  width: 100%;
}
