@import "base";

app-root {
  background-color: $blue1;
  color: $text_color;
  min-height: 100vh;
  margin: 0;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font: 16px sans-serif;
}


// header
header {
  background-color: $blue2;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  nav {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    flex-wrap: wrap;

    * {
      padding: 8pt 10pt 8pt 10pt;
      margin: 10pt 20pt 10pt 20pt;
    }

    *:last-child {
      @media (min-width: 1200px) {
        margin-right: 100pt;
      }
    }
  }

  .header_cont {
    display: inline-flex;
    margin-left: 40pt;
  }
}


// content
.container {
  background-color: $blue0;

  @media (min-width: 1200px) {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  padding: 10pt 10pt 10pt 10pt;
  display: flex;
  flex-grow: 1;

  main {
    display: flex;
    flex-grow: 1;
  }
}

// footer
footer.footer {
  padding-top: 20pt;
  padding-bottom: 20pt;
  background-color: $blue2;
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer.footer .two_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer.footer .foot_row {
  display: inline-flex;
  justify-content: center;
}

// misc
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// common

// button
.bttn {
  display: inline-block;
  color: whitesmoke;
  text-decoration: none;
  background: $blue3;
  border: none;
  font: 16px sans-serif;
}

.bttn:hover {
  background: $blue4;
  cursor: pointer;
}

.bttn:disabled {
  background: $blue2;
  cursor: default;
}

// forms
.form_container {
  display: flex;
  justify-content: center;

  form {
    padding: 30pt 15pt 30pt 15pt;
    background-color: $blue1-5;
    width: 400pt;

    > div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: left;
      margin: 10pt 5pt 5pt 5pt;


      button {
        @extend .bttn;
        padding: 5pt 10pt 5pt 10pt;
      }
    }
  }
}

.break {
  flex-basis: 100%;
  height: 0;
}

.validation_err {
  display: inline;
  color: $text_color_red;

  > * {
    display: inline;
  }

  > *::before {
    content: '*';
  }
}

